n8n/multi_ticket_workflow.json
{
  "name": "Autodoc v2 — Multi-ticket (Cloud Run + Sheets Rendiciones + Drive + HITL)",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "autodoc-v2-multi" },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "autodoc-multi-ticket",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wh-1",
      "name": "Webhook_Multipart",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1460, 260],
      "webhookId": "autodoc-multi-ticket"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first();\nconst body = item.json.body || item.json;\nconst b = item.binary || {};\nconst keys = Object.keys(b);\nif (!keys.length) {\n  throw new Error('No hay archivos binarios. Enviá multipart con el campo \"images\" (uno o más).');\n}\nconst voice = body.voice_transcript || body.voice || '';\nconst batch_id = body.batch_id || $execution.id;\nreturn keys.map((key, index) => ({\n  json: {\n    batch_id,\n    voice_transcript: String(voice),\n    filename: b[key].fileName || `ticket_${index}.jpg`,\n    binaryKey: key,\n  },\n  binary: { image: b[key] },\n}));"
      },
      "id": "code-split-items",
      "name": "SplitOut_UnItemPorImagen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1240, 260],
      "notesInFlow": true,
      "notes": "Sustituye un ‘Split Out’ sobre binarios: expande el webhook en N ítems (1 imagen = 1 ítem) para Drive, Sheets y batch."
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "binaryData": true,
        "binaryPropertyName": "image",
        "name": "={{ $json.filename }}",
        "options": {}
      },
      "id": "drive-up",
      "name": "GoogleDrive_Upload_Imagen",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-1020, 260],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_DRIVE_CRED",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const FormData = require('form-data');\nconst orig = $('SplitOut_UnItemPorImagen').all();\nconst uploaded = $input.all();\nif (!orig.length) throw new Error('No hay ítems originales');\nif (uploaded.length !== orig.length) {\n  throw new Error(`Drive devolvió ${uploaded.length} ítems, se esperaban ${orig.length}`);\n}\n\nconst drive_items = uploaded.map((u, idx) => {\n  const j = u.json || {};\n  return {\n    index: idx,\n    drive_id: j.id,\n    drive_web_view_link: j.webViewLink || j.webContentLink || '',\n    filename: orig[idx]?.json?.filename,\n  };\n});\n\nconst form = new FormData();\nconst batch_id = orig[0].json.batch_id || $execution.id;\nconst voice = orig[0].json.voice_transcript || '';\nif (voice) form.append('voice_transcript', voice);\nform.append('batch_id', batch_id);\n\nfor (let i = 0; i < orig.length; i++) {\n  const it = orig[i];\n  const bin = it.binary?.image;\n  let buf;\n  if (bin && bin.data) {\n    buf = Buffer.from(bin.data, 'base64');\n  } else if (this.helpers.getBinaryDataBuffer) {\n    buf = await this.helpers.getBinaryDataBuffer(i, 'image');\n  } else {\n    throw new Error('No se pudo leer el binario de la imagen');\n  }\n  const fn = it.json.filename || `ticket_${i}.jpg`;\n  form.append('images', buf, { filename: fn });\n}\n\nconst base = String($env.AUTODOC_CLOUD_RUN_URL || '').replace(/\\/+$/, '');\nif (!base) throw new Error('Variable AUTODOC_CLOUD_RUN_URL no definida');\nconst url = `${base}/process-batch`;\nconst secret = $env.X_AUTODOC_SECRET || '';\nif (!secret) throw new Error('Variable X_AUTODOC_SECRET no definida');\n\nlet lastErr;\nlet parsed;\nfor (let attempt = 1; attempt <= 3; attempt++) {\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'POST',\n      url,\n      headers: {\n        ...form.getHeaders(),\n        'X-Autodoc-Secret': secret,\n      },\n      body: form,\n      timeout: 180000,\n    });\n    parsed = typeof res === 'string' ? JSON.parse(res) : res;\n    lastErr = null;\n    break;\n  } catch (e) {\n    lastErr = e;\n    if (attempt < 3) await new Promise((r) => setTimeout(r, 2000 * attempt));\n  }\n}\nif (lastErr) throw lastErr;\n\nreturn [{\n  json: {\n    batch_http: parsed,\n    drive_items,\n    ticket_count: orig.length,\n  },\n}];"
      },
      "id": "code-batch",
      "name": "Code_CloudRun_ProcessBatch_3Retries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, 260]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const root = $input.first().json;\nconst api = root.batch_http;\nconst driveByIndex = {};\nfor (const d of root.drive_items || []) driveByIndex[d.index] = d;\nif (!api || !Array.isArray(api.results)) return [{ json: { Error: 'sin results', raw: root } }];\nconst out = [];\nfor (const r of api.results) {\n  const link = driveByIndex[r.index]?.drive_web_view_link || '';\n  const id = driveByIndex[r.index]?.drive_id || '';\n  if (!r.success) {\n    out.push({\n      json: {\n        Batch_Id: api.batch_id,\n        Source_File: r.filename,\n        Drive_File_Id: id,\n        Drive_Link: link,\n        Error: r.error || '',\n        Detail: r.detail || '',\n      },\n    });\n    continue;\n  }\n  for (const row of r.sheets_rows || []) {\n    out.push({\n      json: {\n        ...row,\n        Batch_Id: api.batch_id,\n        Source_File: r.filename,\n        Drive_File_Id: id,\n        Drive_Link: link,\n      },\n    });\n  }\n}\nreturn out.length ? out : [{ json: { Batch_Id: api.batch_id, Note: 'sin filas' } }];"
      },
      "id": "code-expand",
      "name": "Code_Expandir_Filas_Rendiciones",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-540, 260]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Rendiciones"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "gsheet",
      "name": "GoogleSheets_Rendiciones",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-300, 260],
      "credentials": {
        "googleApi": {
          "id": "REPLACE_SHEETS_CRED",
          "name": "Google Service Account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "wait-hitl",
      "name": "Wait_HITL_Consolidado",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-60, 260],
      "webhookId": "autodoc-hitl-multi"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "html",
              "name": "email_html",
              "type": "string",
              "value": "=<html><body style=\\\"font-family:system-ui\\\"><h2>Rendiciones — aprobación de lote</h2><p><strong>Tickets en el lote:</strong> {{ $('Code_CloudRun_ProcessBatch_3Retries').first().json.ticket_count }}</p><p><strong>Batch ID:</strong> {{ $('Code_CloudRun_ProcessBatch_3Retries').first().json.batch_http.batch_id }}</p><p><strong>Procesados OK:</strong> {{ $('Code_CloudRun_ProcessBatch_3Retries').first().json.batch_http.results.filter(r => r.success).length }} / {{ $('Code_CloudRun_ProcessBatch_3Retries').first().json.batch_http.results.length }}</p><p style=\\\"margin-top:20px\\\"><a href=\\\"{{ $json.resumeUrl }}?decision=approve\\\" style=\\\"display:inline-block;padding:10px 16px;background:#0f766e;color:#fff;border-radius:8px;text-decoration:none;margin-right:12px\\\">Aprobar lote</a><a href=\\\"{{ $json.resumeUrl }}?decision=reject\\\" style=\\\"display:inline-block;padding:10px 16px;background:#b91c1c;color:#fff;border-radius:8px;text-decoration:none\\\">Rechazar lote</a></p></body></html>"
            }
          ]
        },
        "options": {}
      },
      "id": "set-mail",
      "name": "Set_Email_Consolidado_HTML",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [160, 260]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $env.HITL_APPROVER_EMAIL }}",
        "subject": "=Rendiciones — Lote {{ $('Code_CloudRun_ProcessBatch_3Retries').first().json.ticket_count }} ticket(s)",
        "emailType": "html",
        "message": "={{ $json.email_html }}",
        "options": {}
      },
      "id": "gmail-1",
      "name": "Gmail_HITL_Consolidado",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [380, 260],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_GMAIL_CRED",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Multi-ticket Autodoc v2\n- Ajustá credenciales y variables de entorno (hostinger).\n- **HTTP Request** puede sustituir el Code del batch si tu versión admite multipart multi-archivo; se dejó **retry 3×** en código.\n- Crear hoja **Rendiciones** con las columnas del backend + metadatos `Batch_Id`, `Source_File`, `Drive_*`.\n### Retry vía n8n\nSi preferís, desactivá el bucle en Code y usá un nodo HTTP con *Retry On Fail* = 3.",
        "height": 340,
        "width": 420,
        "color": 4
      },
      "id": "note-1",
      "name": "Sticky_Nota",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1480, -40]
    }
  ],
  "connections": {
    "Webhook_Multipart": {
      "main": [[{ "node": "SplitOut_UnItemPorImagen", "type": "main", "index": 0 }]]
    },
    "SplitOut_UnItemPorImagen": {
      "main": [[{ "node": "GoogleDrive_Upload_Imagen", "type": "main", "index": 0 }]]
    },
    "GoogleDrive_Upload_Imagen": {
      "main": [[{ "node": "Code_CloudRun_ProcessBatch_3Retries", "type": "main", "index": 0 }]]
    },
    "Code_CloudRun_ProcessBatch_3Retries": {
      "main": [[{ "node": "Code_Expandir_Filas_Rendiciones", "type": "main", "index": 0 }]]
    },
    "Code_Expandir_Filas_Rendiciones": {
      "main": [[{ "node": "GoogleSheets_Rendiciones", "type": "main", "index": 0 }]]
    },
    "GoogleSheets_Rendiciones": {
      "main": [[{ "node": "Wait_HITL_Consolidado", "type": "main", "index": 0 }]]
    },
    "Wait_HITL_Consolidado": {
      "main": [[{ "node": "Set_Email_Consolidado_HTML", "type": "main", "index": 0 }]]
    },
    "Set_Email_Consolidado_HTML": {
      "main": [[{ "node": "Gmail_HITL_Consolidado", "type": "main", "index": 0 }]]
    }
  }
}
