n8n/multi_ticket_workflow.json
{
  "name": "Autodoc v2 — Multi-ticket (Sync → Curation URL)",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "autodoc-v2-multi" },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "autodoc-multi-ticket",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "wh-1",
      "name": "Webhook_Multipart",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1460, 260],
      "webhookId": "autodoc-multi-ticket"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "crb",
              "name": "cloud_run_base",
              "type": "string",
              "value": "https://extraccion-facturas-tikets-816080222172.southamerica-east1.run.app"
            },
            {
              "id": "sec",
              "name": "x_autodoc_secret",
              "type": "string",
              "value": "CAMBIAR_MISMO_VALOR_QUE_AUTODOC_SECRET_EN_CLOUD_RUN"
            }
          ]
        },
        "options": {}
      },
      "id": "set-runtime-cfg",
      "name": "Set_Config_Provisorio",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1350, 260],
      "notesInFlow": true,
      "notes": "Solo hace falta cloud_run_base y x_autodoc_secret para llamar a /process-batch. Persistencia post-curación: otro flujo n8n (PERSIST_WEBHOOK_URL en Cloud Run)."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const wb = $('Webhook_Multipart').first();\nconst body = wb.json.body || wb.json;\nconst full = $('Set_Config_Provisorio').first().json || {};\nconst skip = new Set(['headers', 'params', 'query', 'body', 'webhookUrl', 'executionMode']);\nconst cfg = {};\nfor (const [k, v] of Object.entries(full)) {\n  if (!skip.has(k)) cfg[k] = v;\n}\nconst b = wb.binary || {};\nconst keys = Object.keys(b);\nif (!keys.length) {\n  throw new Error('No hay archivos binarios. El nodo Set no reenvía binario: se lee de Webhook_Multipart. Enviá multipart con el campo \"images\" (uno o más) o ejecutá desde el webhook con archivo.');\n}\nconst user_notes = body.user_notes || body.notes || '';\nconst batch_id = body.batch_id || $execution.id;\nreturn keys.map((key, index) => ({\n  json: {\n    ...cfg,\n    batch_id,\n    user_notes: String(user_notes),\n    filename: b[key].fileName || `ticket_${index}.jpg`,\n    binaryKey: key,\n  },\n  binary: { image: b[key] },\n}));"
      },
      "id": "code-split-items",
      "name": "SplitOut_UnItemPorImagen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1240, 260],
      "notesInFlow": true,
      "notes": "Binario desde Webhook_Multipart (el Set pierde binarios). Config desde Set_Config_Provisorio. N ítems = N archivos."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const orig = $input.all();\nif (!orig.length) throw new Error('Sin archivos: el nodo anterior debe enviar los ítems (p. ej. SplitOut con binario por ticket).');\n\nfunction mpField(boundary, name, value) {\n  const head = Buffer.from(\n    `--${boundary}\\r\\nContent-Disposition: form-data; name=\"${name}\"\\r\\n\\r\\n`,\n    'utf-8',\n  );\n  return Buffer.concat([head, Buffer.from(String(value), 'utf-8'), Buffer.from('\\r\\n', 'utf-8')]);\n}\n\nfunction mpFilePart(boundary, fieldName, filename, buf, mimeType) {\n  const safeName = (String(filename || 'file').replace(/\"/g, '_').replace(/[^a-zA-Z0-9._-]/g, '_').replace(/_+/g, '_').slice(0, 200) || 'upload');\n  const mime = mimeType || 'application/octet-stream';\n  const header = Buffer.from(\n    `--${boundary}\\r\\nContent-Disposition: form-data; name=\"${fieldName}\"; filename=\"${safeName}\"\\r\\nContent-Type: ${mime}\\r\\n\\r\\n`,\n    'utf-8',\n  );\n  return Buffer.concat([header, buf, Buffer.from('\\r\\n', 'utf-8')]);\n}\n\nconst batch_id = String(orig[0].json.batch_id || $execution.id);\nconst un = String(orig[0].json.user_notes || '');\nconst boundary = 'n8n_' + Math.random().toString(36).slice(2) + '_' + Date.now();\n\nconst parts = [];\nparts.push(mpField(boundary, 'batch_id', batch_id));\nif (un) parts.push(mpField(boundary, 'user_notes', un));\nparts.push(mpField(boundary, 'drive_links_json', '[]'));\n\nfor (let i = 0; i < orig.length; i++) {\n  const it = orig[i];\n  const bin = it.binary?.image;\n  let buf;\n  if (bin && bin.data) {\n    buf = Buffer.from(bin.data, 'base64');\n  } else if (this.helpers.getBinaryDataBuffer) {\n    buf = await this.helpers.getBinaryDataBuffer(i, 'image');\n  } else {\n    throw new Error('No se pudo leer el binario del ítem ' + i);\n  }\n  const fn = it.json.filename || `ticket_${i}.bin`;\n  const mime = bin?.mimeType || bin?.fileType || 'application/octet-stream';\n  parts.push(mpFilePart(boundary, 'images', fn, buf, mime));\n}\n\nparts.push(Buffer.from(`--${boundary}--\\r\\n`, 'utf-8'));\nconst body = Buffer.concat(parts);\n\nlet base = String(orig[0].json.cloud_run_base || '').trim();\nwhile (base.endsWith('/')) base = base.slice(0, -1);\nif (!base) throw new Error('Falta cloud_run_base (Set_Config_Provisorio)');\nconst url = `${base}/process-batch`;\nconst secret = String(orig[0].json.x_autodoc_secret || '');\nif (!secret) throw new Error('Falta x_autodoc_secret (Set_Config_Provisorio)');\n\nlet lastErr;\nlet parsed;\nfor (let attempt = 1; attempt <= 3; attempt++) {\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'POST',\n      url,\n      headers: {\n        'Content-Type': `multipart/form-data; boundary=${boundary}`,\n        'X-Autodoc-Secret': secret,\n      },\n      body,\n      timeout: 180000,\n    });\n    parsed = typeof res === 'string' ? JSON.parse(res) : res;\n    lastErr = null;\n    break;\n  } catch (e) {\n    lastErr = e;\n    if (attempt < 3) await new Promise((r) => setTimeout(r, 2000 * attempt));\n  }\n}\nfunction formatProcessBatchErr(e) {\n  const msg = e.message || String(e);\n  const st = e.statusCode || e.status || e.response?.status || e.response?.statusCode || '';\n  let raw = e.response?.body ?? e.response?.data ?? e.body ?? e.cause?.response?.body;\n  if (typeof raw === 'string') {\n    try { raw = JSON.parse(raw); } catch (_) {}\n  }\n  let tail = '';\n  if (raw && typeof raw === 'object') {\n    const d = raw.detail || raw.error || '';\n    const bid = raw.batch_id || '';\n    let rsum = '';\n    const results = raw.results;\n    if (Array.isArray(results) && results.length) {\n      const x = results[0];\n      rsum = (x.filename || '') + ': ' + (x.detail || x.error || '');\n    }\n    tail = ' | ' + JSON.stringify({ detail: d, batch_id: bid, primer_archivo: rsum }).slice(0, 2000);\n  } else if (raw) {\n    tail = ' | ' + String(raw).slice(0, 1500);\n  }\n  return 'Cloud Run /process-batch: ' + (st ? st + ' ' : '') + msg + tail;\n}\nif (lastErr) {\n  throw new Error(formatProcessBatchErr(lastErr));\n}\n\nconst curation_url = parsed.curation_url || parsed.curationUrl;\nconst task_id = parsed.task_id || parsed.taskId;\nconst out_batch_id = parsed.batch_id || batch_id;\nif (!curation_url) {\n  const d = parsed.detail || parsed.error || '';\n  throw new Error(\n    'Cloud Run no devolvió curation_url' +\n      (d ? ': ' + d : '') +\n      '. Respuesta: ' +\n      JSON.stringify(parsed).slice(0, 1200)\n  );\n}\n\nreturn [{ json: { curation_url, task_id, batch_id: out_batch_id } }];"
      },
      "id": "code-batch",
      "name": "Code_Sync_ReturnCurationUrl",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, 260]
    },
    {
      "parameters": {
        "content": "## Sync → Curación\n- Webhook responde `curation_url`. Tras **Confirmar** en la UI, Cloud Run llama a `PERSIST_WEBHOOK_URL` (flujo **Persistencia**: Drive + hoja Rendiciones + e-mail al Jefe de Contable).\n",
        "height": 220,
        "width": 400,
        "color": 4
      },
      "id": "note-1",
      "name": "Sticky_Nota",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1480, -40]
    }
  ],
  "connections": {
    "Webhook_Multipart": {
      "main": [[{ "node": "Set_Config_Provisorio", "type": "main", "index": 0 }]]
    },
    "Set_Config_Provisorio": {
      "main": [[{ "node": "SplitOut_UnItemPorImagen", "type": "main", "index": 0 }]]
    },
    "SplitOut_UnItemPorImagen": {
      "main": [[{ "node": "Code_Sync_ReturnCurationUrl", "type": "main", "index": 0 }]]
    }
  }
}
