autodoc-v2/n8n/autodoc_v2_base.workflow.json
{
  "name": "Autodoc v2 — Webhook → FastAPI → RAG → Sheets → HITL (Wait)",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "autodoc-v2"
  },
  "versionId": "00000000-0000-0000-0000-000000000002",
  "tags": [],
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "autodoc-v2-ingest",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-ingest",
      "name": "Webhook_Ingest",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1200, 200],
      "webhookId": "autodoc-v2-ingest"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const wh = $('Webhook_Ingest').first();\nconst body = wh.json.body || wh.json;\nconst user_notes = String(body.user_notes || body.notes || '');\nconst idempotency_key = $execution.id;\nconst bin = wh.binary?.file || wh.binary?.image || wh.binary?.data;\nif (!bin) {\n  throw new Error('Falta archivo: enviá multipart con campo \"file\" o \"image\" (imagen o PDF).');\n}\nreturn [{ json: { idempotency_key, user_notes, hitl_status: 'PENDING' }, binary: { file: bin } }];"
      },
      "id": "code-attach-binary",
      "name": "Code_Reattach_File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-960, 200],
      "notesInFlow": true,
      "notes": "Lee user_notes del body. Binario: file | image | data."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.AUTODOC_BACKEND_URL || 'http://127.0.0.1:8000') + '/process-ticket' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Autodoc-Secret",
              "value": "={{ $env.X_AUTODOC_SECRET }}"
            },
            {
              "name": "Idempotency-Key",
              "value": "={{ $json.idempotency_key }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            },
            {
              "parameterType": "formData",
              "name": "user_notes",
              "value": "={{ $json.user_notes }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-fastapi",
      "name": "HTTP_FastAPI_ProcessTicket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-720, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "man",
              "name": "manual_etica",
              "type": "string",
              "value": "MANUAL DE ÉTICA (TEXTUAL FIJO – REEMPLAZAR POR POLÍTICA REAL).\n\n1) Todos los gastos deben ser razonables, necesarios para el negocio y respaldados por comprobante hábil.\n2) No se autorizan pagos en efectivo sin trazabilidad ni factura.\n3) Queda prohibido solicitar o aceptar sobornos, comisiones indebidas o ventajas personales ligadas a proveedores.\n4) Los viáticos deben cumplir topes internos y política de medios de pago corporativos.\n5) Cualquier regalo o cortesía debe reportarse y evaluarse según política anticorrupción.\n6) Los datos personales de terceros obtenidos en comprobantes deben tratarse con confidencialidad.\n7) Ante duda de clasificación contable o imputación, debe escalarse a Finanzas antes de comprometer fondos."
            }
          ]
        },
        "options": {}
      },
      "id": "set-ethics",
      "name": "Set_Ethics_Manual",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-480, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const apiKey = $env.OPENAI_API_KEY;\nif (!apiKey) throw new Error('Configure OPENAI_API_KEY en el entorno de n8n');\nconst ethics = $('Set_Ethics_Manual').first().json.manual_etica;\nconst row = $input.first().json;\nconst extracted = JSON.stringify(row.sheets_rows || []);\nfunction cosine(a, b) {\n  let d = 0, na = 0, nb = 0;\n  for (let i = 0; i < a.length; i++) { d += a[i] * b[i]; na += a[i] * a[i]; nb += b[i] * b[i]; }\n  return d / (Math.sqrt(na) * Math.sqrt(nb) + 1e-9);\n}\nconst chunks = ethics.split(/\\n\\n+/).map(s => s.trim()).filter(Boolean).slice(0, 24);\nconst input = [extracted, ...chunks];\nconst res = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.openai.com/v1/embeddings',\n  headers: { Authorization: 'Bearer ' + apiKey, 'Content-Type': 'application/json' },\n  body: { model: 'text-embedding-3-small', input },\n  json: true,\n});\nconst vec = res.data.sort((x, y) => x.index - y.index).map(d => d.embedding);\nconst v0 = vec[0];\nlet best = -1;\nlet idx = 0;\nfor (let i = 1; i < vec.length; i++) {\n  const c = cosine(v0, vec[i]);\n  if (c > best) { best = c; idx = i - 1; }\n}\nconst Compliance_Score = Math.max(0, Math.min(100, Math.round(best * 100)));\nconst Compliance_Notes = `RAG-lite: mayor similitud coseno con fragmento ${idx} del manual (embeddings OpenAI).`;\nreturn [{ json: { ...row, Compliance_Score, Compliance_Notes, rag_best_cosine: best } }];"
      },
      "id": "code-rag",
      "name": "Code_RAG_Compliance_Embeddings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-240, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "c1", "name": "Clase", "type": "string", "value": "={{ $json.sheets_rows[0].Clase ?? \"\" }}" },
            { "id": "c2", "name": "Comprobante", "type": "string", "value": "={{ $json.sheets_rows[0].Comprobante ?? \"\" }}" },
            { "id": "c3", "name": "Fecha", "type": "string", "value": "={{ $json.sheets_rows[0].Fecha ?? \"\" }}" },
            { "id": "c4", "name": "F.Emision", "type": "string", "value": "={{ $json.sheets_rows[0][\"F.Emision\"] ?? \"\" }}" },
            { "id": "c5", "name": "Nombre", "type": "string", "value": "={{ $json.sheets_rows[0].Nombre ?? \"\" }}" },
            { "id": "c6", "name": "Cuit", "type": "string", "value": "={{ $json.sheets_rows[0].Cuit ?? \"\" }}" },
            { "id": "c7", "name": "Articulo", "type": "string", "value": "={{ $json.sheets_rows[0].Articulo ?? \"\" }}" },
            { "id": "c8", "name": "Detalle", "type": "string", "value": "={{ $json.sheets_rows[0].Detalle ?? \"\" }}" },
            { "id": "c9", "name": "Cuenta", "type": "string", "value": "={{ $json.sheets_rows[0].Cuenta ?? \"\" }}" },
            { "id": "c10", "name": "Precio", "type": "string", "value": "={{ $json.sheets_rows[0].Precio ?? \"\" }}" },
            { "id": "c11", "name": "IVA", "type": "string", "value": "={{ $json.sheets_rows[0].IVA ?? \"\" }}" },
            { "id": "c12", "name": "Centro Costo", "type": "string", "value": "={{ $json.sheets_rows[0][\"Centro Costo\"] ?? \"\" }}" },
            { "id": "c13", "name": "Tipo Comp.", "type": "string", "value": "={{ $json.sheets_rows[0][\"Tipo Comp.\"] ?? \"\" }}" },
            { "id": "c14", "name": "Afecta Iva", "type": "string", "value": "={{ $json.sheets_rows[0][\"Afecta Iva\"] ?? \"\" }}" },
            { "id": "c15", "name": "Percep 1", "type": "string", "value": "={{ $json.sheets_rows[0][\"Percep 1\"] ?? \"\" }}" },
            { "id": "c16", "name": "Importe Percep 1", "type": "string", "value": "={{ $json.sheets_rows[0][\"Importe Percep 1\"] ?? \"\" }}" },
            { "id": "c17", "name": "Percep 2", "type": "string", "value": "={{ $json.sheets_rows[0][\"Percep 2\"] ?? \"\" }}" },
            { "id": "c18", "name": "Importe Percep 2", "type": "string", "value": "={{ $json.sheets_rows[0][\"Importe Percep 2\"] ?? \"\" }}" },
            { "id": "c19", "name": "Percep 3", "type": "string", "value": "={{ $json.sheets_rows[0][\"Percep 3\"] ?? \"\" }}" },
            { "id": "c20", "name": "Importe Percep 3", "type": "string", "value": "={{ $json.sheets_rows[0][\"Importe Percep 3\"] ?? \"\" }}" },
            { "id": "c21", "name": "Iva Total", "type": "string", "value": "={{ $json.sheets_rows[0][\"Iva Total\"] ?? \"\" }}" },
            { "id": "c22", "name": "Cantidad", "type": "string", "value": "={{ $json.sheets_rows[0].Cantidad ?? \"\" }}" },
            { "id": "c23", "name": "Compliance_Score", "type": "string", "value": "={{ String($json.Compliance_Score) }}" },
            { "id": "c24", "name": "Compliance_Notes", "type": "string", "value": "={{ $json.Compliance_Notes }}" },
            { "id": "c25", "name": "HITL_Status", "type": "string", "value": "={{ $json.hitl_status || 'PENDING' }}" },
            { "id": "c26", "name": "Execution_Id", "type": "string", "value": "={{ $execution.id }}" },
            {
              "id": "c27",
              "name": "User_Notes",
              "type": "string",
              "value": "={{ $('Code_Reattach_File').first().json.user_notes || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-flat-row",
      "name": "Set_Flat_Sheets_Row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [0, 200]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $env.GOOGLE_SHEET_TAB || 'Gastos' }}"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "google-sheets-append",
      "name": "GoogleSheets_Append",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [240, 200],
      "credentials": {
        "googleApi": {
          "id": "REPLACE_ME",
          "name": "google_service_account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "wait-hitl",
      "name": "Wait_HITL_Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [480, 200],
      "webhookId": "autodoc-v2-hitl-wait"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "html",
              "name": "email_html",
              "type": "string",
              "value": "=<html><body style=\\\"font-family:system-ui\\\"><h2>Aprobación de gasto — Autodoc v2</h2><p>Ejecución: {{ $execution.id }}</p><p><strong>Compliance_Score:</strong> {{ $('Code_RAG_Compliance_Embeddings').first().json.Compliance_Score }}</p><p>{{ $('Code_RAG_Compliance_Embeddings').first().json.Compliance_Notes }}</p><p style=\\\"margin-top:24px\\\"><a href=\\\"{{ $json.resumeUrl }}?decision=approve\\\" style=\\\"display:inline-block;padding:10px 16px;background:#0f766e;color:#fff;border-radius:8px;text-decoration:none;margin-right:12px\\\">Aprobar</a><a href=\\\"{{ $json.resumeUrl }}?decision=reject\\\" style=\\\"display:inline-block;padding:10px 16px;background:#b91c1c;color:#fff;border-radius:8px;text-decoration:none\\\">Rechazar</a></p><p style=\\\"font-size:12px;color:#555\\\">Si los botones no funcionan, copiá y pegá la URL de reanudación que entrega el nodo Wait en la ejecución.</p></body></html>"
            }
          ]
        },
        "options": {}
      },
      "id": "set-email-html",
      "name": "Set_Email_HTML",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 200]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $env.HITL_APPROVER_EMAIL }}",
        "subject": "=Autodoc v2 — Aprobación requerida ({{ $execution.id }})",
        "emailType": "html",
        "message": "={{ $json.email_html }}",
        "options": {}
      },
      "id": "gmail-send",
      "name": "Gmail_Dinamico_HTML",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [960, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_ME",
          "name": "gmail_oauth"
        }
      }
    }
  ],
  "connections": {
    "Webhook_Ingest": {
      "main": [[{ "node": "Code_Reattach_File", "type": "main", "index": 0 }]]
    },
    "Code_Reattach_File": {
      "main": [[{ "node": "HTTP_FastAPI_ProcessTicket", "type": "main", "index": 0 }]]
    },
    "HTTP_FastAPI_ProcessTicket": {
      "main": [[{ "node": "Set_Ethics_Manual", "type": "main", "index": 0 }]]
    },
    "Set_Ethics_Manual": {
      "main": [[{ "node": "Code_RAG_Compliance_Embeddings", "type": "main", "index": 0 }]]
    },
    "Code_RAG_Compliance_Embeddings": {
      "main": [[{ "node": "Set_Flat_Sheets_Row", "type": "main", "index": 0 }]]
    },
    "Set_Flat_Sheets_Row": {
      "main": [[{ "node": "GoogleSheets_Append", "type": "main", "index": 0 }]]
    },
    "GoogleSheets_Append": {
      "main": [[{ "node": "Wait_HITL_Approval", "type": "main", "index": 0 }]]
    },
    "Wait_HITL_Approval": {
      "main": [[{ "node": "Set_Email_HTML", "type": "main", "index": 0 }]]
    },
    "Set_Email_HTML": {
      "main": [[{ "node": "Gmail_Dinamico_HTML", "type": "main", "index": 0 }]]
    }
  }
}
